.app-head {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 width: 100%;
 background-color: rgb(204, 39, 39);
 color: white;

}


.count {display: block;
    border-radius: 10px;
    background-color:rgb(204, 39, 39);
    margin-left: 10px;
   margin-bottom: 5px;
    padding: 5px;
}